<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JPV Game</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.5/dist/full.min.css" rel="stylesheet" type="text/css" />

    
    <link rel="icon" type="image/png" href=">




    <!-- ads -->
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script>
        window.googletag = window.googletag || {cmd: []};
        googletag.cmd.push(function() {
            googletag.defineSlot('/23128577529/native_thalagame', [336, 280], 'div-gpt-ad-1720713994305-0').addService(googletag.pubads());
            googletag.defineSlot('/23128577529/native2_thalagame', [336, 280], 'div-gpt-ad-1720714168712-0').addService(googletag.pubads());
            googletag.defineSlot('/23128577529/native3_thalagame', [336, 280], 'div-gpt-ad-1720714228348-0').addService(googletag.pubads());
            googletag.defineSlot('/23128577529/native4_thalagame', [336, 280], 'div-gpt-ad-1720714287596-0').addService(googletag.pubads());
            // googletag.defineSlot('/23128577529/inter_tahalagame', [300, 600], 'div-gpt-ad-1720714417761-0').addService(googletag.pubads());
            // googletag.defineSlot('/23128577529/inter2_thalagame', [300, 600], 'div-gpt-ad-1720714467600-0').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5GJYH51WPM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-5GJYH51WPM');
    </script>

    <style>
        *{
            font-family: "Poppins", sans-serif;
        }

        #loading-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #010127;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            transition: opacity 0.5s ease;
            flex-direction: column;
        }
        #loading-screen.hidden {
            opacity: 0;
            pointer-events: none;
        }
        .spinner {
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-top: 4px solid #333;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>

</head>
<body class="bg-[#010127]">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="py-3 flex px-3 place-items-center">
        <div class="drawer-content">
            <label for="my-drawer" class="cursor-pointer">
                <svg width="27" height="29" viewBox="0 0 27 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.02857 11.6293H21.6C21.8728 11.6293 22.1344 11.5009 22.3273 11.2724C22.5202 11.0439 22.6286 10.7339 22.6286 10.4107C22.6286 10.0875 22.5202 9.77754 22.3273 9.54901C22.1344 9.32047 21.8728 9.19208 21.6 9.19208H1.02857C0.755777 9.19208 0.494156 9.32047 0.301261 9.54901C0.108367 9.77754 0 10.0875 0 10.4107C0 10.7339 0.108367 11.0439 0.301261 11.2724C0.494156 11.5009 0.755777 11.6293 1.02857 11.6293Z" fill="white"/>
                    <path d="M0 1.74463C7.27101e-05 2.06781 0.108463 2.37772 0.301342 2.60624C0.494221 2.83476 0.7558 2.96318 1.02857 2.96326H25.7143C25.9871 2.96326 26.2487 2.83487 26.4416 2.60633C26.6345 2.3778 26.7429 2.06783 26.7429 1.74463C26.7429 1.42143 26.6345 1.11147 26.4416 0.882929C26.2487 0.654392 25.9871 0.526001 25.7143 0.526001H1.02857C0.7558 0.526087 0.494221 0.654506 0.301342 0.883025C0.108463 1.11154 7.27101e-05 1.42146 0 1.74463Z" fill="white"/>
                    <path d="M1.02857 20.2946H18.8571C19.1299 20.2946 19.3916 20.1662 19.5845 19.9377C19.7773 19.7092 19.8857 19.3992 19.8857 19.076C19.8857 18.7528 19.7773 18.4428 19.5845 18.2143C19.3916 17.9858 19.1299 17.8574 18.8571 17.8574H1.02857C0.755777 17.8574 0.494156 17.9858 0.301261 18.2143C0.108367 18.4428 0 18.7528 0 19.076C0 19.3992 0.108367 19.7092 0.301261 19.9377C0.494156 20.1662 0.755777 20.2946 1.02857 20.2946Z" fill="white"/>
                    <path d="M1.02857 28.9607H14.7429C15.0157 28.9607 15.2773 28.8323 15.4702 28.6038C15.6631 28.3752 15.7714 28.0653 15.7714 27.7421C15.7714 27.4189 15.6631 27.1089 15.4702 26.8804C15.2773 26.6518 15.0157 26.5234 14.7429 26.5234H1.02857C0.755777 26.5234 0.494156 26.6518 0.301261 26.8804C0.108367 27.1089 0 27.4189 0 27.7421C0 28.0653 0.108367 28.3752 0.301261 28.6038C0.494156 28.8323 0.755777 28.9607 1.02857 28.9607Z" fill="white"/>
                </svg>
            </label>
        </div>
        <a href="/" class="w-full"><img src="/image/logo.png" class="w-[150px] m-auto"></a>
    </div>
    <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content bg-[#02001e7d] backdrop-blur-lg text-[#fff] max-[350px]:w-auto">
            <label class="ml-auto cursor-pointer" for="my-drawer" aria-label="close sidebar">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.1665 9.00805L17.762 1.43822C18.0793 1.11791 18.0793 0.598995 17.762 0.278681C17.4503 -0.0473594 16.9355 -0.0571515 16.6118 0.256802L9.01628 7.82663L1.51839 0.256802C1.36467 0.0928811 1.15078 0 0.927025 0C0.703266 0 0.489378 0.0928811 0.335658 0.256802C0.0543006 0.566276 0.0543006 1.04123 0.335658 1.35071L7.83354 8.9096L0.238001 16.4685C-0.0793336 16.7888 -0.0793336 17.3077 0.238001 17.628C0.389074 17.784 0.596845 17.871 0.813092 17.8687C1.03351 17.8867 1.25202 17.8159 1.42074 17.6718L9.01628 10.102L16.6118 17.7593C16.7629 17.9153 16.9707 18.0022 17.1869 18C17.4029 18.001 17.6102 17.9142 17.762 17.7593C18.0793 17.439 18.0793 16.9201 17.762 16.5998L10.1665 9.00805Z" fill="#ffffff"/>
                </svg>                    
            </label>
            <li class="mx-auto">
                <a href="/" class="w-full"><img src="/image/logo.png" class="w-[150px] m-auto"></a>
            </li>
            <li>
                <hr class="rounded-none">
            </li>
            <li>
                <a href="/">
                    <img src="/icon/home.png" alt="home" class="w-[40px]">
                    <label>Home</label>
                </a>
            </li>
            <li>
                <a href="/category/action">
                    <img src="/icon/home.png" alt="home" class="w-[40px]">
                    <label>Action</label>
                </a>
            </li>
        </ul>
    </div>