<div id="loading-screen">
    <img src="/image/logo.png" alt="loding logo">
    <div class="spinner"></div>
</div>
<a href="/privacy-policy.html">Privacy Policy</a>
<script>
    window.addEventListener('load', function(){
        const loadingScreen = document.getElementById('loading-screen');
        loadingScreen.classList.add('hidden');
    });
</script>



</body>
</html>